<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cutcUtzUbic">
            <h2><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.detail.title">Cutc Utz Ubic</span> {{cutcUtzUbic.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbCdUtz">Db Cd Utz</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbCdUtz}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.idTiUtz">Id Ti Utz</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.idTiUtz}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.cdTiUtz">Cd Ti Utz</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.cdTiUtz}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbTiUtz">Db Ti Utz</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbTiUtz}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.idBas11">Id Bas 11</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.idBas11}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.cdStrd">Cd Strd</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.cdStrd}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbPosta">Db Posta</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbPosta}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbAlfab">Db Alfab</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbAlfab}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbPercIni">Db Perc Ini</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbPercIni}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbPercFinal">Db Perc Final</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbPercFinal}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dtCanc">Dt Canc</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dtCanc}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.niCiv">Ni Civ</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.niCiv}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbLetteCiv">Db Lette Civ</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbLetteCiv}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.tiColoreCiv">Ti Colore Civ</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.tiColoreCiv}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.cdUniUrb">Cd Uni Urb</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.cdUniUrb}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbUniUrb">Db Uni Urb</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbUniUrb}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.cdCircs">Cd Circs</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.cdCircs}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbCircs">Db Circs</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbCircs}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.cdCap">Cd Cap</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.cdCap}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.cdSezVig">Cd Sez Vig</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.cdSezVig}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbSezVig">Db Sez Vig</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbSezVig}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.niInterno">Ni Interno</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.niInterno}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbLetteInterno">Db Lette Interno</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbLetteInterno}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dbInternoScala">Db Interno Scala</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dbInternoScala}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.flAllin">Fl Allin</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.flAllin}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.idEnte">Id Ente</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.idEnte}}</span>
                </dd>
                <dt><span jhiTranslate="georeferenziazioneApp.cutcUtzUbic.dtUltAllin">Dt Ult Allin</span></dt>
                <dd>
                    <span>{{cutcUtzUbic.dtUltAllin}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cutc-utz-ubic-my-suffix', cutcUtzUbic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
